<h2>Список пользователей</h2> <!-- Заголовок страницы -->

<!-- Создаем таблицу для отображения списка пользователей -->
<table class="table table-striped">
  <tr>
    <!-- Заголовки столбцов таблицы -->
    <th>ID</th> <!-- Заголовок для идентификатора пользователя -->
    <th>Имя</th> <!-- Заголовок для имени пользователя -->
    <th>Телефон</th> <!-- Заголовок для номера телефона -->
    <th>Дата и время записи</th> <!-- Заголовок для даты и времени записи -->
    <th>Парикмахер</th> <!-- Заголовок для имени парикмахера -->
    <th>Цвет</th> <!-- Заголовок для выбранного цвета -->
  </tr>

  <!-- Используем цикл для отображения данных о каждом пользователе -->
  <% @users.each do |user| %> <!-- Перебираем массив @users, где каждый элемент — это хэш с данными пользователя -->
    <tr> <!-- Создаем новую строку таблицы для каждого пользователя -->
      <td><%= user['id'] %></td> <!-- Отображаем идентификатор пользователя -->
      <td><%= user['name'] %></td> <!-- Отображаем имя пользователя -->
      <td><%= user['phone'] %></td> <!-- Отображаем номер телефона пользователя -->
      <td><%= user['datestamp'] %></td> <!-- Отображаем дату и время записи -->
      <td><%= user['barber'] %></td> <!-- Отображаем имя выбранного парикмахера -->
      <td><%= user['color'] %></td> <!-- Отображаем выбранный цвет -->
    </tr> <!-- Конец строки таблицы -->
  <% end %> <!-- Завершаем цикл перебора пользователей -->
</table> <!-- Закрываем таблицу -->
