<h2>Список пользователей</h2>

<table>
  <tr>
    <th>ID</th>
    <th>Имя</th>
    <th>Телефон</th>
    <th>Дата и время записи</th>
    <th>Парикмахер</th>
    <th>Цвет</th>
  </tr>

  <% @users.each do |user| %> <!-- Проходим по всем пользователям -->
    <tr>
      <td><%= user['id'] %></td> <!-- Выводим ID пользователя -->
      <td><%= user['name'] %></td> <!-- Выводим имя -->
      <td><%= user['phone'] %></td> <!-- Выводим телефон -->
      <td><%= user['datestamp'] %></td> <!-- Выводим дату и время записи -->
      <td><%= user['barber'] %></td> <!-- Выводим парикмахера -->
      <td><%= user['color'] %></td> <!-- Выводим цвет -->
    </tr>
  <% end %>
</table>
